---
layout: default
---
<style>
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}
}
</style>

<!-- The main content area -->
<a style="display:none;" class="h-card" rel="me" href="https://will.stedden.org">Will Stedden</a>
<div class="posts">
  <div class="post__header">
    <div class="grid-small">
      <h2 itemprop="name headline">fiction</h2>
      <p class="post__description p-summary">exercising our ability to imagine counterfactuals and prefiguration</p>

    </div>


  </div>
  <div id="content-desktop">
  <div class="container">
    <div itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in site.posts %}
          {% if post.type == 'fiction' %}
            {% include post-card-essay.html %}
          {% endif %}
        {% endfor %}
      </div>

  </div>
</div>

<div id="content-mobile">
  <div class="container">
    <div itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in site.posts %}
          {% if post.type == 'fiction' %}
            {% include post-card.html %}
          {% endif %}
        {% endfor %}
      </div>

  </div>

  <!-- {% include pagination.html %} -->
</div>
