---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="posts">
  <div class="post__header">
    <div class="grid-small">
      <h2 itemprop="name headline">bonkerfield</h2>

      <p class="post__date">a place to put lots of things</p>
    </div>
    {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 7 %}

  </div>
  <div class="grid-xlarge">

    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
