---
layout: default
pagination:
  enabled: true
---
<style>

</style>

<!-- The main content area -->
<a style="display:none;" class="h-card" rel="me" href="https://will.stedden.org/">Will Stedden</a>
<div class="posts">
  <div class="post__header">
    <div class="grid-small">
      <h2 itemprop="name headline">projects</h2>
      <p class="post__description p-summary">we do these things not because they are easy, but because we thought they would be easy</p>

    </div>


  </div>
  <div class="container">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in paginator.posts %}

          {% if post.type == 'project' %}

            {% include post-card.html %}

          {% endif %}

        {% endfor %}
      </div>
    </div>

  </div>


  {% include pagination.html %}
</div>
