---
layout: post
title: su_chef
description: robotic substitute user for the kitchen
---
<p>I'm working on a kitchen help robot. This is just the beginning as I work towards building a fully automated food truck. I want to found a worker-owned company so that we can equitably share the benefits of automation with workers. If you are interested in food or democratizing the benefits of automation please <a href="https://viewfoil.bonkerfield.org/">contact me</a>! </p>

<p>
    These are the posts I've written as part of this project thus far.
</p>

  <div class="grid-xlarge">

    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in site.posts %}

        {% if post.tags contains 'su_chef' %}

            {% include post-card-top.html %}

        {% endif %}

      {% endfor %}
    </div>
  </div>
