

<h4 style="text-align:center;margin-bottom:5%;">or leave a message here</h4>

<form id="form" class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSctE1VauB_r8xR0tsfPas21pTUqKg-5vC8zXgl_eRjJW2FP_g/formResponse" method="POST">

  <div>
    <label for="form-email">email</label>
    <input type="email" name="entry.644994945" id="form-email" required>
  </div>

  <div>
    <label for="form-message">message</label>
    <textarea name="entry.918842698" id="form-message" rows="2"></textarea>
  </div>

  <div class="form__submit">
    <div class="form__btn">
      <input type="submit" value="Send">
    </div>
  </div>

  <p class="form__message"></p>
</form>
