<form id="form" class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSctE1VauB_r8xR0tsfPas21pTUqKg-5vC8zXgl_eRjJW2FP_g/formResponse" method="POST">
  <div class="form__subcontainer">
    <div>
      <label for="form-first-name">first name</label>
      <input type="text" name="entry.1565830609" id="form-first-name" required>
    </div>
    <div>
      <label for="form-last-name">last name</label>
      <input type="text" name="entry.1397370877" id="form-last-name" required>
    </div>
  </div>

  <div>
    <label for="form-email">email</label>
    <input type="email" name="entry.644994945" id="form-email" required>
  </div>

  <div>
    <label for="form-message">message</label>
    <textarea name="entry.918842698" id="form-message" rows="3"></textarea>
  </div>

  <div class="form__submit">
    <div class="form__btn">
      <input type="submit" value="Send">
    </div>
  </div>

  <p class="form__message"></p>
</form>
