<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <span class="subscribe__title">Subscribe</span>
        <p class="subscribe__text">Get an update when I post new content.</p>
        {% include subscribe-form.html %}
      </div>
    </div>

    <hr class="sep--white"/>

    <div class="footer__container">
      {% include social.html %}
      {% include donate.html %}
      {% include license.html %}
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
<script>
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(http?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
</script>