<nav>
  <ul class="header__list">
    <li><a href="https://prof.bonkerfield.org">fiction</a></li>
    <li><a href="{{ '/projects' | prepend: site.baseurl }}">projects</a></li>
    <li><a href="{{ '/essays' | prepend: site.baseurl }}">essays</a></li>
    <li><a href="{{ '/reasons' | prepend: site.baseurl }}">about</a></li>
    <!-- <li><a href="https://viewfoil.bonkerfield.org/"><img src="/assets/images/main/viewfoil_ico.svg"/></a></li> -->
    <li><a href="https://viewfoil.bonkerfield.org/">contact</a></li>
    <!-- <li><span class="popup__open"></span></li> -->
    <li><a href="{{ '/search' | prepend: site.baseurl }}"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>
