<nav>
  <ul class="header__list">
    <li><a href="{{ '/things' | prepend: site.baseurl }}">things</a></li>
    <!-- <li><a href="{{ '/reasons' | prepend: site.baseurl }}">reasons</a></li> -->
    <li><a href="{{ '/qmb' | prepend: site.baseurl }}">doings</a></li>
    <li><a href="https://viewfoil.bonkerfield.org/"><img src="/assets/images/main/viewfoil_ico.svg"/></a></li>
    <li><span class="popup__open"><i class="fa fa-envelope"></i></span></li>
    <li><a href="{{ '/search' | prepend: site.baseurl }}"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>
