<iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if(submitted)  {document.forms['myForm'].style.display='none'; document.getElementById('myThanks').style.display='block'; }"></iframe>
<form id="myForm" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScR9nymDVWWK2Eza_kwH8jV54_elV8oNJhwjPR45GThJ80ebA/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
        <input style="display:none;" type="text" name="entry.1334936582" id="name" value="solarpunk.blue subscribe"/>
        <input required type="email" name="entry.1352045854" id="email" placeholder="Email&hellip;" />
        <textarea style="display:none;" name="entry.123592912" id="message" rows="6">solarpunk.blue subscribe</textarea>
        <input id="mySubmit" type="submit" value="Subscribe" class="special" onclick=''/>
</form>
<div class="box" id="myThanks" style="display:none;height:400px;"><p><i>Thanks for subscribing</i></p></div>
<div style="text-align:center;">
<a href="https://twitter.com/solarpunk_blue" target="_blank" class="fa fa-twitter"></a>
<a href="https://instagram.com/solarpunk.blue" target="_blank" class="fa fa-instagram"></a>
<!-- <a href="https://solarpunkblue.tumblr.com/" target="_blank" class="fa fa-tumblr"></a> -->
</div>
<!-- <div style="text-align:center;">
<a href="/about" class="fa fa-creative-commons"></a>
<a href="/about" class="fa"><img style="height:1em;display:inline;margin:0;padding:0;" src="assets/images/solarpunk_blue_logo.jpeg"/></a>
</div> -->